@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "ParentPublicAccount";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parent Public Account</title>
</head>
<body>
    <div class="columns">
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        @Model.GetParent.UserProfile.FirstName @Model.GetParent.UserProfile.MiddleName @Model.GetParent.UserProfile.LastName
                    </p>
                </header>
                <div class="card-image pt-3 pl-3 pr-3">
                    <figure class="image ">
                        <img src="@Model.GetParent.UserProfile.Image" class="" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content m-0 pb-1">
                    <p class="subtitle is-5 is-family-code has-text-link m-0 has-text-weight-bold pb-1">Parent</p>
                    @{
                        if (Context.User.IsInRole("Director") || Context.User.IsInRole("Manager"))
                        {
                            <p class="subtitle is-6 is-uppercase is-family-code has-text-grey">Email:</p>
                            <p class="title is-6">@Model.GetParent.UserProfile.User.Email</p>
                        }
                        if (Context.User.IsInRole("Director") || Context.User.IsInRole("Manager") || Context.User.IsInRole("Teacher"))
                        {
                            <p class="subtitle is-6 is-uppercase is-family-code has-text-grey">Phone Number:</p>
                            <p class="title is-6">@Model.GetParent.UserProfile.User.PhoneNumber</p>
                        }
                    }

                    <p class="subtitle is-6 is-uppercase is-family-code has-text-grey">Gender:</p>
                    <p class="title is-6">@Model.GetParent.UserProfile.Gender</p>
                    <p class="subtitle is-6 is-uppercase is-family-code has-text-grey">Birth Date:</p>
                    <p class="title is-6">@Model.GetParent.UserProfile.BirthDate.ToShortDateString()</p>
                    @{
                        if (Context.User.IsInRole("Director") || Context.User.IsInRole("Manager"))
                        {
                            <footer class="card-footer mb-0 pb-0">
                                <a href="#" class="card-footer-item">Edit Connections</a>
                            </footer>
                        }
                    }

                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <section>
                        <p class="subtitle is-6 is-uppercase is-family-code has-text-grey pb-0 mb-0 mt-2">Kids:</p>
                        @{
                            foreach (Student student in Model.Kids)
                            {
                                @await Html.PartialAsync("_StudentCard", student);
                            }
                        }
                    </section>

                </div>

            </div>
        </div>
    </div>
</body>
</html>
